<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог достопримечательностей</title>
    <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/fonts/Gilroy/stylesheet.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@500,600;1,600&display=swap" rel="stylesheet">
</head>
<body class="catalog-page">
    <section class="catalog-hero">
        <header class="header">
            <nav class="nav-wrapper">
                <div class="container-wide">
                    <div class="row space-between align-center">
                        <div class="logo">YAR TRAVEL</div>
                        <div class="nav">
                            <ul>
                                <li><a href="#museums">Музеи</a></li>
                                <li><a href="#religious">Религиозные</a></li>
                                <li><a href="#parks">Парки</a></li>
                                <li><a href="{% url 'index' %}">Главная</a></li>
                            </ul>
                        </div>
                        <div class="header-actions">
                            <a href="{% url 'select_places' %}" class="btn-route">Создать маршрут</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="btn-account">Аккаунт</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn-account">Войти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </section>
    <section id="museums" class="museums-section">
        <div class="museums-content">
            <h2 class="museums-title">Музеи.</h2>
            <p class="museums-description">
                Погрузитесь в мир искусства и истории — откройте для себя уникальные музеи Ярославля, где каждый экспонат рассказывает свою захватывающую историю!
            </p>
            <div class="museums-row">
                <div class="museum-block">
                  <img src="{% static 'catalog/img/музеи/музей 1.jpg' %}" alt="Музей 1">
                  <div class="museum-block-text">
                    <h3>Музыкальный комплекс "Музыка и время им. Джона Мостославского"</h3>
                    <p>В музее собрана уникальная коллекция старинных музыкальных инструментов и механизмов, включая граммофоны, патефоны, фисгармонии, музыкальные шкатулки и шарманки, а также разнообразные часы и колокола от завода Оловянишниковых. Все экспонаты находятся в рабочем состоянии, позволяя посетителям наслаждаться звуками старинных часов и музыки.</p>
                    <a href="https://музыкаивремя.рф/" target="_blank">Перейти на сайт музея</a>
                  </div>
                </div>
                <div class="museum-block">
                  <img src="{% static 'catalog/img/музеи/Музей 2.jpg' %}" alt="Музей 2">
                  <div class="museum-block-text">
                    <h3>Ярославский художественный музей</h3>
                    <p>Единственный специализированный музей области и победитель первого конкурса «Окно в Россию». В 2019 году он отметил свое столетие и хранит более 80 000 произведений искусства. Музей включает пять архитектурных памятников в трех населенных пунктах и расположен в зоне ЮНЕСКО, объединяя несколько зданий и парковых зон в историческом центре Ярославля.</p>
                    <a href="https://yarartmuseum.ru/about/" target="_blank">Перейти на сайт музея</a>
                  </div>
                </div>
              </div>
        </div>
    </section>
    <section class="museums-dark-section">
        <div class="museums-content">
            <div class="museums-row">
                <div class="museum-block">
                    <img src="{% static 'catalog/img/музеи/музей 3.jpg' %}" alt="Музей 3">
                    <div class="museum-block-text">
                        <h3>Музей истории города Ярославля</h3>
                        <p>«Десять веков истории Ярославля» охватывает все ключевые этапы развития города, начиная с его основания и завершая началом XXI века. Раздел «Из истории ярославской медицины» фокусируется на исторических аспектах медицинского наследия Ярославля, который в 2005 году был включен в Список Всемирного наследия ЮНЕСКО, подчеркивая его значимость в контексте культурного и исторического богатства региона.</p>
                        <a class="museum-link" href="https://mukmig.yaroslavl.ru/" target="_blank">Перейти на сайт музея</a>
                    </div>
                </div>
                    <div class="museum-block">
                      <img src="{% static 'catalog/img/музеи/музей 4.jpg' %}" alt="Музей 4">
                      <div class="museum-block-text">
                        <h3>Музей имени Вадима Орлова</h3>
                        <p>Музей  носит имя Вадима Юрьевича Орлова — мецената и почетного гражданина города. Его коллекции включают российский и зарубежный фарфор XVIII–XX веков, чугунное литье, серебро и предметы быта, среди которых особенно ценна фарфоровая пластика заводов Гарднера, Кузнецова, Попова и Миклашевского. Здание Дома общества врачей, в котором расположен музей, является федеральным памятником архитектуры.</p>
                        <a class="museum-link" href="https://www.orlovmuseum.ru/" target="_blank">Перейти на сайт музея</a>
                      </div>
                    </div>
                </div>
                 <!-- Первая новая строка с двумя музеями -->
        <div class="museums-row">
            <div class="museum-block">
              <img src="{% static 'catalog/img/музеи/музей 5.jpg' %}" alt="Мультимедийный музей">
              <div class="museum-block-text">
                <h3>Мультимедийный музей нового взгляда на историю</h3>
                <p>Музей посвящён альтернативному взгляду на хронологию мировой истории, предложенному российскими математиками А. Т. Фоменко, Г. В. Носовским и Т. Н. Фоменко. В его 14 тематических залах размещено более 70 активных панелей проекторов и мультимедийный гид-навигатор с элементами дополненной реальности. Это уникальный научно-культурный проект, аналогов которому нет ни в России, ни за её пределами.  Основным экспонатом является сама научная теория, а не предметы материальной культуры.</p>
                <a class="museum-link" href="https://yarmnh.ru/" target="_blank">Перейти на сайт музея</a>
              </div>
            </div>
            <div class="museum-block">
              <img src="{% static 'catalog/img/музеи/музей 6.jpg' %}" alt="Шоу-макет Золотое кольцо">
              <div class="museum-block-text">
                <h3>Шоу-макет "Золотое кольцо"</h3>
                <p>Интерактивный музей, посвящённый туристическому маршруту «Золотое кольцо России», занимает 300 кв. м и представляет уменьшенные копии (в масштабе 1:87) главных культурных объектов маршрута. Здесь можно увидеть Ярославль, Кострому, Углич и другие города. В каждом городе функционирует транспорт и меняются времена года. Каждые 10 минут на макете наступает ночь: загораются фонари, светятся окна и фары машин.</p>
                <a class="museum-link" href="https://showmaket.ru/" target="_blank">Перейти на сайт музея</a>
              </div>
            </div>
          </div>

          <!-- Вторая новая строка с двумя музеями -->
          <div class="museums-row">
            <div class="museum-block">
              <img src="{% static 'catalog/img/музеи/музей 7.jpg' %}" alt="Ярославский музей фотографии">
              <div class="museum-block-text">
                <h3>Ярославский музей фотографии</h3>
                <p>Частное учреждение культуры предлагает коллекцию, посвящённую 180-летней эволюции фотографии. Здесь расположена интерактивная экспозиция с действующим оборудованием и технологиями. Посетители могут сделать снимок на стеклянной пластинке в ретро-фотоателье, используя метод первой половины XIX века, а также проявить плёнку в аналоговой фотолаборатории.</p>
                <a class="museum-link" href="https://yarmp.com/" target="_blank">Перейти на сайт музея</a>
              </div>
            </div>
            <div class="museum-block">
              <img src="{% static 'catalog/img/музеи/музей 8.jpg' %}" alt="Музей Кукольный Дом Ирады Т.">
              <div class="museum-block-text">
                <h3>Музей "Кукольный Дом Ирады Т."</h3>
                <p>В музее собраны антикварные и винтажные куклы XIX–XX веков из Европы, Америки и России. Также представлена коллекция миниатюр, включая кукольные дома и комнатки с интерьерами различных эпох.</p>
                <a class="museum-link" href="https://vk.com/house_of_doll" target="_blank">Перейти на сайт музея</a>
              </div>
            </div>
          </div>
           <!-- СТРОЧКА 4 МУЗЕИ Первая новая строка с двумя музеями -->
        <div class="museums-row">
          <div class="museum-block">
            <img src="{% static 'catalog/img/музеи/музей 9.jpg' %}" alt="Интерактивный Музей Здоровья">
            <div class="museum-block-text">
              <h3>Интерактивный Музей Здоровья</h3>
              <p>Это пространство, посвящённое популяризации здорового образа жизни. В музее в увлекательной форме представлены правила гигиены, преимущества физической активности, важность правильного питания, профилактика вредных привычек и строение человеческого организма. Музей включает пять залов, каждый из которых освещает различные аспекты здоровья человека.</p>
              <a class="museum-link" href="https://muzeizdorov.ru/" target="_blank">Перейти на сайт музея</a>
            </div>
          </div>
          <div class="museum-block">
            <img src="{% static 'catalog/img/музеи/музей 10.jpg' %}" alt="Ярославский музей - заповедник">
            <div class="museum-block-text">
              <h3>Ярославский музей - заповедник</h3>
              <p>Ярославский государственный историко-архитектурный и художественный музей-заповедник — одно из крупнейших культурных учреждений и туристических объектов Ярославля. Он предлагает множество экспозиций, которые стоит увидеть. В фонде музея хранится более 350 тысяч единиц, отражающих культурное наследие, историческое достояние, народные традиции и природное разнообразие Ярославского края.</p>
              <a class="museum-link" href="https://yarkremlin.ru/" target="_blank">Перейти на сайт музея</a>
            </div>
          </div>
        </div>

        <!-- СТРОЧКА 5 МУЗЕИ Вторая новая строка с двумя музеями -->
        <div class="museums-row">
          <div class="museum-block">
            <img src="{% static 'catalog/img/музеи/музей 11.jpg' %}" alt="Планетарий имени Валентины Терешковой">
            <div class="museum-block-text">
              <h3>Планетарий имени Валентины Терешковой</h3>
              <p>Культурно-просветительский центр имени В.В. Терешковой в Ярославле — это уникальный комплекс, посвящённый популяризации астрономии и семейному отдыху. В центре расположен планетарий с куполом площадью 300 кв. м и диаметром 12 м, звёздный зал с аппаратом Skymaster ZKP4, астрономическая обсерватория с куполом диаметром 5 м, музей «История космонавтики» и интерактивный аттракцион «Шаттл» формата 5-D.</p>
              <a class="museum-link" href="https://yarplaneta.ru/" target="_blank">Перейти на сайт музея</a>
            </div>
          </div>
          <div class="museum-block">
            <img src="{% static 'catalog/img/музеи/музей 12.jpg' %}" alt="Музей боевой славы">
            <div class="museum-block-text">
              <h3>Музей боевой славы</h3>
              <p>Это филиал Ярославского историко-архитектурного и художественного музея-заповедника, посвящённый военным и трудовым подвигам жителей города в годы Великой Отечественной войны. Важной частью коллекции является парк военной техники советского периода, включая фрагмент торпедного аппарата от подводной лодки М-104 «Ярославский комсомолец», танк Т-54, беспилотный разведывательный самолёт «Стриж» и другие экспонаты.</p>
              <a class="museum-link" href="https://yarkremlin.ru/museum/muzey-boevoy-slavy/" target="_blank">Перейти на сайт музея</a>
            </div>
          </div>
        </div>
           <!-- СТРОЧКА 6 МУЗЕИ Вторая новая строка с двумя музеями -->
           <div class="museums-row">
            <div class="museum-block">
              <img src="{% static 'catalog/img/музеи/музей 13.jpg' %}" alt="Музей стрелкового и холодного оружия">
              <div class="museum-block-text">
                <h3>Музей стрелкового и холодного оружия</h3>
                <p>В четырёх залах музея представлена разнообразная коллекция оружия, включая пистолеты, винтовки, пистолеты-пулемёты, пулемёты и автоматы, а также холодное оружие, такое как штыки и ножи. Экспонаты охватывают широкий временной диапазон — от конца XIX века до современности, включая образцы вооружения различных стран мира.</p>
                <a class="museum-link" href="https://www.culture.ru/institutes/57511/muzei-strelkovogo-i-kholodnogo-oruzhiya" target="_blank">Перейти на сайт музея</a>
              </div>
            </div>
            <div class="museum-block">
              <img src="{% static 'catalog/img/музеи/музей 14.jpg' %}" alt="Музей Эйнштейна">
              <div class="museum-block-text">
                <h3>Музей Эйнштейна</h3>
                <p>В музее в интерактивной форме представлены основные законы физики и химии. Более 100 экспонатов наглядно демонстрируют механические явления, вибрацию, трение, оптические иллюзии, электричество и многое другое. Посетители могут трогать, перемещать и экспериментировать с экспонатами, проводя собственные исследования.</p>
                <a class="museum-link" href="https://muzeinauki.ru/" target="_blank">Перейти на сайт музея</a>
              </div>
            </div>
          </div>  
        </div>
    </div>
    </section>
    <!-- Секция религиозных достопримечательностей -->
    <section id="religious" class="religious-section">
        <div class="religious-content">
            <h2 class="religious-title">Религиозные достопримечательности.</h2>
            <p class="religious-description">
                Откройте для себя духовные наследие Ярославля: монастыри и атмосферу древних храмов и церквей, где каждый камень хранит свою тайну.
            </p>
            <div class="religious-row">
                <div class="religious-block">
                    <img src="{% static 'catalog/img/религиозные/Религиозные 2.png' %}" alt="Церковь Илии Пророка">
                    <div class="religious-block-text">
                        <h3>Церковь Илии Пророка</h3>
                        <p>Православный храм на Советской (Ильинской) площади в историческом центре Ярославля — выдающийся памятник архитектуры XVII века, представляющий Ярославскую школу зодчества и живописи. Под управлением Ярославской епархии и музея-заповедника, этот шедевр древнерусской архитектуры, построенный в 1647-1650 гг. братьями Скрипиными, восхищает изящной колокольней и богатой отделкой фасадов, став одним из самых узнаваемых символов города.</p>
                        <a href="https://yandex.ru/maps/?pt=39.894406,57.626786&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                        <p class="religious-address">
                            <a href="https://yandex.ru/maps/?pt=39.894406,57.626786&z=17&l=map" class="address-link" target="_blank"></a>
                        </p>
                    </div>
                </div>
                <div class="religious-block">
                    <img src="{% static 'catalog/img/религиозные/Религиозные 3.jpg' %}" alt="Собор Казанской иконы Божией Матери">
                    <div class="religious-block-text">
                        <h3>Собор Казанской иконы Божией Матери</h3>
                        <p>Женский монастырь в историческом центре Ярославля хранит легенду о явлении Казанской иконы Божией Матери в 1588 году под Казанью. Вскоре икона была привезена в Романов, где за многочисленные чудесные исцеления была щедро украшена. Однако в 1609 году, во время разграбления Романова, икону вывезли, но позже она была выкуплена в Ярославле.

                            ул. Первомайская, 19а.  С понедельника по воскресенье —  с 06:00 до 20:00.</p>
                            <a href="https://yandex.ru/maps/?pt=39.887040,57.628156&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                        <p class="religious-address">
                            <a href="https://yandex.ru/maps/?pt=39.887040,57.628156&z=17&l=map" class="address-link" target="_blank">
                    
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="religious-row">
                <div class="religious-block">
                    <img src="{% static 'catalog/img/религиозные/Религиозные 4.jpg' %}" alt="Спасо-Преображенский монастырь">
                    <div class="religious-block-text">
                        <h3>Спасо-Преображенский монастырь</h3>
                        <p>Древний упразднённый мужской монастырь, основанный в 1216 году князем Константином Всеволодовичем. Располагается в историческом центре города, на берегу реки Которосли. В XIII веке в монастыре работало первое в Северо-Восточной Руси духовное училище. Спасо-Преображенский собор, построенный в 1506–1516 годах на фундаменте более раннего храма XIII века.

                            Богоявленская площадь, 25, С мая по сентябрь музей работает с 10:00 до 18:00 (кассы до 17:00), с октября по апрель — с 10:00 до 17:00. Выходной — понедельник, зимой также закрыт во вторник.</p>
                            <a href="https://yandex.ru/maps/?pt=39.889932,57.620823&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                            <p class="religious-address">
                                <a href="https://yandex.ru/maps/?pt=39.889932,57.620823&z=17&l=map" class="address-link" target="_blank">
                                    
                                </a>
                            </p>
                    </div>
                </div>
                <div class="religious-block">
                    <img src="{% static 'catalog/img/религиозные/Религиозные 17.jpg' %}" alt="Кафедральный собор Успения Пресвятой Богородицы">
                    <div class="religious-block-text">
                        <h3>Кафедральный собор Успения Пресвятой Богородицы</h3>
                        <p>Православный храм, кафедральный собор Ярославской митрополии и епархии Русской православной церкви.  Основан в 1215 году по воле ростовского князя Константина Всеволодовича. 

                            Которосльная набережная, 2/1. Ежедневно с 08:00 до 19:00.</p>
                            <a href="https://yandex.ru/maps/?pt=39.902063,57.622415&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                            <p class="religious-address">
                                <a href="https://yandex.ru/maps/?pt=39.902063,57.622415&z=17&l=map" class="address-link" target="_blank">
                                   
                                </a>
                            </p>
                    </div>
                </div>
            </div>
            <!-- 3 и 4 ПАРЫ РЕЛИГИОЗНЫХ -->
            <div class="religious-row">
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 6.png' %}" alt="Церковь Богоявления Господня">
                  <div class="religious-block-text">
                      <h3>Церковь Богоявления Господня</h3>
                      <p>Православный храм в историческом центре Ярославля. Построена в 1684—1693 годах на средства купца гостиной сотни Алексея Авраамович Зубчанинова. Известна фресковой росписью и изразцовым убранством фасадов.

                        По будням: в 8:00 и 17:00. По выходным дням: в 9:00 и 17:00.</p>
                        <a href="https://yandex.ru/maps/?pt=39.886446,57.621635&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 7.png' %}" alt="Церковь Николая Чудотворца">
                  <div class="religious-block-text">
                      <h3>Церковь Николая Чудотворца (Николы Надеина)</h3>
                      <p>Это первый каменный храм в городском посаде, построенный в 1621–1622 годах. Сегодня церковь недействующая, находится в ведении Ярославской епархии и Ярославского музея-заповедника.

                        В тёплое время года (май — сентябрь) церковь открыта как музейная экспозиция с 10:00 до 18:00, выходные — среда, четверг, дождливые дни.</p>
                        <a href="https://yandex.ru/maps/?pt=39.895963,57.628791&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
          </div>
          <div class="religious-row">
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 8.png' %}" alt="Михайло-Архангельский храм">
                  <div class="religious-block-text">
                      <h3>Михайло-Архангельский храм</h3>
                      <p>Гарнизонный храм, где совершаются регулярные богослужения. Он имеет три престола: главный — в честь Архистратига Михаила и Небесных Сил бесплотных, зимний — в честь Благовещения Пресвятой Богородицы, и придел — во имя святых преподобных Зосимы и Савватия Соловецких. 

                        Ежедневно с 08:00 до 19:00.</p>
                        <a href="https://yandex.ru/maps/?pt=39.892682,57.622107&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 9.jpg' %}" alt="Спасо-Афанасьевский монастырь">
                  <div class="religious-block-text">
                      <h3>Спасо-Афанасьевский Ярославский мужской монастырь</h3>
                      <p>Центр религиозной жизни Ярославля, место собрания верующих и проведения богослужений. Также это музей, в котором представлена история обители с помощью фотографий, документов и предметов.

                      С понедельника по воскресенье — с 06:00 до 19:00.</p>
                        <a href="https://yandex.ru/maps/?pt=39.894965,57.625049&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
           </div>
           <!-- 5 ПАРА РЕЛИГИОЗНЫХ -->
           <div class="religious-row">
            <div class="religious-block">
                <img src="{% static 'catalog/img/религиозные/Религиозные 10.png.jpg' %}" alt="Церковь Спаса на Городу">
                <div class="religious-block-text">
                    <h3>Церковь Спаса на Городу</h3>
                    <p>Церковь XVII века, построенная из кирпича, является ярким примером ярославской архитектурной школы. Её силуэт украшает шатровый северный придел, а внутренние фрески, созданные в 1693 году, впечатляют. В храме хранятся святыни, включая икону «Скоропослушницы» и мощевик Святого Пантелеймона. Главный фасад обращён на север и сохранил свою нарядность с XVII века.

                       Ежедневно, с 09:00 до 18:00.  </p>
                      <a href="https://yandex.ru/maps/?pt=39.895651,57.622574&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                </div>
            </div>
            <div class="religious-block">
                <img src="{% static 'catalog/img/религиозные/Религиозные 11.jpg' %}" alt="Церковь Рождества Христова">
                <div class="religious-block-text">
                    <h3>Церковь Рождества Христова</h3>
                    <p>Церковь имеет многопрестольность: главный престол освящён в честь Рождества Христова, а также есть приделы Иоакима и Анны, Николая Чудотворца и Петра и Павла. Уникальная колокольня с часозвонницей — образец надвратной шатровой конструкции, не имеющей аналогов в древнерусской архитектуре. Главный придел, возведённый в память о Смутном времени, венчает кованый крест XVII века. В декоре впервые использованы поливные изразцы, привозившиеся из других городов.

                      Со среды по воскресенье — с 10:20 до 17:00, Понедельник и вторник — выходные дни</p>
                      <a href="https://yandex.ru/maps/?pt=39.894361,57.630503&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                </div>
            </div>
           </div>
            <!-- 6 ПАРА РЕЛИГИОЗНЫХ -->
            <div class="religious-row">
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 12.jpg' %}" alt="Вознесенская Церковь">
                  <div class="religious-block-text">
                      <h3>Вознесенская Церковь</h3>
                      <p>Каменный пятиглавый храм, построенный в 1682 году, украшен галереями с изразцами и широкими барабанами. Иконостас резной, пятиярусный, с тремя престолами: Вознесения Господня, Зосимы и Савватия Соловецких, и иконой «Всех скорбящих Радость». Стены разделены на шесть ярусов, изображающих праздники и земную жизнь Христа.

                        Ежедневно с 09:00 до 18:00 </p>
                        <a href="https://yandex.ru/maps/?pt=39.871187,57.626499&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 18.jpg' %}" alt="Церковь Андрея Критского">
                  <div class="religious-block-text">
                      <h3>Церковь Андрея Критского</h3>
                      <p>Церковь украшает лик святителя Николая Чудотворца на внешней стене алтарной апсиды. Архитектура сочетает византийский стиль и модерн, а для строительства использовали 60 вагонов цемента. Витражные стёкла создают красивую игру света, а метлахская керамическая плитка украшает порталы и карнизы. Церковь вмещает до трёх тысяч человек. 

                        
                      Время работы: с понедельника по воскресенье — 09:00–18:00</p>
                      <a href="https://yandex.ru/maps/?pt=39.835128,57.609384&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
            </div>
            <div class="religious-row">
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 15.jpg' %}" alt="Ильинско-Тихоновская церковь">
                  <div class="religious-block-text">
                      <h3>Ильинско-Тихоновская церковь</h3>
                      <p>По преданию, на этом месте была заложена первая ярославская церковь, построенная Ярославом Мудрым. Храм выполнен в стиле позднего классицизма с крупным основным объёмом и прямоугольной апсидой. Его украшают высокие портики с шестью коринфскими колоннами и треугольными фронтонами. На фасадах сохранились фрески, рассказывающие об истории православной церкви, включая изображения митрополита Дмитрия Ростовского на северном фасаде.

                        Время работы: ежедневно, 07:00–19:00.</p>
                        <a href="https://yandex.ru/maps/?pt=39.901413,57.624227&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
              <div class="religious-block">
                  <img src="{% static 'catalog/img/религиозные/Религиозные 16.jpg' %}" alt="Церковь Благовещения Пресвятой Богородицы">
                  <div class="religious-block-text">
                      <h3>Церковь Благовещения Пресвятой Богородицы</h3>
                      <p>Фрески храма представляют собой разнообразный ансамбль из более чем 300 сюжетных клейм. Уникальные композиционные приёмы включают оригинальные сцены, такие как мученическая смерть апостола Фомы. Декор алтарного помещения украшает композиция «София создасебе дом». Также изображены сцены из жития Димитрия Угличского, включая перенесение его мощей из Углича в Москву.

                        Часы работы: пн-сб — 8:00–17:30, вс — 8:00–17:00</p>
                        <a href="https://yandex.ru/maps/?pt=39.891321,57.634294&z=17&l=map" class="religious-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
            </div>
        </div>
    </section>
    <section class="parks-hero">
      <div class="parks-content">
          <h2 class="parks-title">Места отдыха и парки города.</h2>
          <p class="parks-description">
              Откройте для себя зеленые уголки Ярославля — парки с историей, где каждая аллея дышит прошлым!
              Наслаждайтесь природой и погружайтесь в атмосферу исторического наследия в сердце древнего города!
          </p>
      </div>
  </section>

  <section id="parks" class="parks-section">
    <div class="parks-grid">
      <div class="parks-row">
              <div class="park-block">
                  <img src="{% static 'catalog/img/парки/Историческое 2.jpg' %}" alt="Ярославский музей - заповедник">
                  <div class="park-block-text">
                      <h3>Ярославский музей - заповедник</h3>
                      <p>Музей-заповедник в Ярославле, основанный в 1959 году, расположен на территории упразднённого Спасо-Преображенского мужского монастыря. Он хранит богатую коллекцию икон, рукописей, драгоценных тканей и церковной утвари, а также произведений древнерусского искусства. На его территории находится Спасо-Преображенский собор начала XVI века и шесть церквей XVII века, являющихся важными памятниками архитектуры и живописи.</p>
                  
                      <a class="park-info" href="https://yarkremlin.ru/events/" target="_blank">Перейти на сайт</a>
                      <a href="https://yandex.ru/maps/?pt=39.888574,57.621637&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
              <div class="park-block">
                  <img src="{% static 'catalog/img/парки/Историческое 1.jpg' %}" alt="Губернаторский сад">
                  <div class="park-block-text">
                      <h3>Губернаторский сад</h3>
                      <p>Губернаторский сад — одно из самых красивых мест Ярославля, созданное в 1820-е годы по указу императора Александра I. Становясь частью городской усадьбы, сад сохранил гармоничное сочетание регулярного и пейзажного паркостроения. В Губернаторском саду можно увидеть около 70 исторических деревьев, среди которых дубы, липы и ясень, некоторые из которых насчитывают более 150 лет.</p>
                      <a class="park-info" href="https://yarartmuseum.ru/exhibitions/gubernatorskiy-sad/" target="_blank">Перейти на сайт</a>
                      <a href="https://yandex.ru/maps/?pt=39.896161,57.627865&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
          </div>
          <div class="parks-row">
              <div class="park-block">
                  <img src="{% static 'catalog/img/парки/Парки 1.jpg' %}" alt="Стрелка">
                  <div class="park-block-text">
                      <h3>Стрелка</h3>
                      <p>Стрелка расположена на слиянии рек Волги и Которосли, откуда открываются живописные виды на Волгу, Даманский остров и купола церквей. Здесь находятся Успенский кафедральный собор, церкви Николы Рубленого и Иоанно-Тихоновская, а также Митрополичьи палаты и Музей древнерусского искусства. Вечером на Стрелке проходят светомузыкальные представления с фонтанами, где струи воды танцуют под музыку и подсветку.</p>
                      <a href="https://yandex.ru/maps/?pt=39.904633,57.618601&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
              <div class="park-block">
                  <img src="{% static 'catalog/img/парки/Парки 2.jpg' %}" alt="Набережная">
                  <div class="park-block-text">
                      <h3>Набережная</h3>
                      <p> К набережной примыкают, митрополиты палаты с выставкой древнерусской живописи, художественные  музеи.  Вдоль набережной расположено множество памятников архитектуры. В период летней навигации от причалов речного вокзала отправляются экскурсионные теплоходы.</p>
                      <a href="https://yandex.ru/maps/?pt=39.892825,57.633233&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
                  </div>
              </div>
          </div>
          <div class="parks-row">
            <div class="park-block">
                <img src="{% static 'catalog/img/парки/Парки 3.jpg' %}" alt="Демидовский сад">
                <div class="park-block-text">
                    <h3>Демидовский сад</h3>
                    <p>Демидовский сад, расположенный параллельно Волжской набережной, окружён старинными зданиями и высокими деревьями. В саду находятся памятники и монументы, а рядом расположены Кирилло-Афанасиевский монастырь и Спасо-Пробоинская церковь XVII века. Сад славится разнообразием элементов ландшафтного дизайна и входит в список особо охраняемых территорий ЮНЕСКО.</p>
                    <a href="https://yandex.ru/maps/?pt=39.896897,57.625356&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
                </div>
            </div>
            <div class="park-block">
                <img src="{% static 'catalog/img/парки/Парки 4.jpg' %}" alt="Ярославский Зоопарк">
                <div class="park-block-text">
                    <h3>Ярославский Зоопарк</h3>
                    <p> Это первый в России зоопарк ландшафтного типа, где животные живут в условиях, близких к естественным. В зоопарке более 3 000 животных 400 видов, включая амурских тигров, львов и гепардов. Посетители могут близко подойти к домашним животным, таким как куры и козы. Экзотариум представляет собой тропический город с экзотическими животными из Азии, Африки и Южной Америки. В «Парке копытных» в сосновом лесу обитают зубры, яки и олени.

                      Время работы: ежедневно с 10:00 до 20:00</p>
                      <a href="https://yandex.ru/maps/?pt=39.899863,57.677254&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
                </div>
            </div>
        </div>
        <div class="parks-row">
          <div class="park-block">
              <img src="{% static 'catalog/img/парки/Парки 5.jpg' %}" alt="Первомайский бульвар">
              <div class="park-block-text">
                  <h3>Первомайский бульвар</h3>
                  <p>Бульвар проходит от Волковского театра до Волжской набережной, был разбит в 1821 году, изначально называясь Казанским. К середине XIX века он стал садом с липовыми аллеями и цветниками. На бульваре установлен памятник Петру и Февронии, покровителям семьи.</p>
                  <a href="https://yandex.ru/maps/?pt=39.886663,57.629494&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
              </div>
          </div>
          <div class="park-block">
              <img src="{% static 'catalog/img/парки/Парки 6.jpg' %}" alt="Даманский парк">
              <div class="park-block-text">
                  <h3>Даманский парк</h3>
                  <p>Для гостей всех возрастов предлагаются разнообразные аттракционы: «Дом великана», «Дом-перевёртыш», трасса для электромобилей, «Мини-джет», «Паровозик», «Морячок», «Зорб», «Марс», «Летающая тарелка» и верёвочный парк. Также можно взять в аренду велосипед, сегвей, самокат или лодку для прогулок по водоёму. Вход украшают фигурки, создающие уютную атмосферу.

                    Время работы: с 11:00 до 18:00 (пн-вс). В летний период — с 11:00 до 20:00 (пн-вс)</p>
                    <a href="https://yandex.ru/maps/?pt=39.899573,57.618402&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
              </div>
          </div>
      </div>
      <div class="parks-row">
        <div class="park-block">
            <img src="{% static 'catalog/img/парки/Парки 7.jpg' %}" alt="Парк Тысячелетия">
            <div class="park-block-text">
                <h3>Парк Тысячелетия</h3>
                <p>Расположен на берегу реки Которосль. Из парка открываются виды на две реки — Волгу и Которосль, купола церквей.   На территории парка есть несколько фонтанов, Скульптура «Медведь с рыбой» от скульптора Зураба Церетели, Колесо обозрения «Золотое кольцо». Это самая высокая смотровая площадка в Ярославле, её высота — 65 метров.</p>
                <a href="https://yandex.ru/maps/?pt=39.871400,57.617295&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
            </div>
        </div>
        <div class="park-block">
            <img src="{% static 'catalog/img/парки/Парки 8.jpg' %}" alt="Парк 30-летия Победы">
            <div class="park-block-text">
                <h3>Парк 30-летия Победы</h3>
                <p>Главная достопримечательность — пруд, который по форме напоминает оправу очков: два круглых озерца соединены перемычкой-полуостровом. На прудах обитает множество уток.  Монумент в честь Победы в Великой Отечественной войне,  памятная аллея «Знай героев в лицо», посвящённая 30-й годовщине вывода войск из Афганистана. Большая зелёная зона.</p>
                <a href="https://yandex.ru/maps/?pt=39.780922,57.686955&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
            </div>
        </div>
      </div>
      <div class="parks-row">
        <div class="park-block">
            <img src="{% static 'catalog/img/парки/Парки 9.jpg' %}" alt="Петропавловский парк">
            <div class="park-block-text">
                <h3>Петропавловский парк</h3>
                <p>Парк является одним из старейших в Ярославле и входил ранее в состав Ярославской Большой мануфактуры. Здесь выкопали пруды, разбили аллеи, установили садово-парковые скульптуры и фонтаны, построили усадьбу, казармы для рабочих и богадельню. Главная достопримечательность парка — церковь Петра и Павла, построенная в стиле петровского барокко.  </p>
                <a href="https://yandex.ru/maps/?pt=39.844514,57.601587&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
            </div>
        </div>
        <div class="park-block">
            <img src="{% static 'catalog/img/парки/Парки 10.jpg' %}" alt="Памятник-монумент «Вечный огонь»">
            <div class="park-block-text">
                <h3>Памятник-монумент «Вечный огонь»</h3>
                <p>Монумент, посвященный боевой и трудовой славе ярославцев в годы Великой Отечественной войны, состоит из двух гранитных стел с вечным огнём между ними. На одной стеле изображён воин, на другой — женщина-труженица. Каждый год 9 мая к Вечному огню приходят ветераны и жители города, чтобы почтить память. Рядом открывается вид на Успенский кафедральный собор</p>
                <a href="https://yandex.ru/maps/?pt=39.899222,57.623821&z=17&l=map" class="park-map-link" target="_blank">Посмотреть на карте →</a>
            </div>
        </div>
      </div>
  </div>
  </section> 
  <script src="{% static 'catalog/js/main.js' %}"></script>
</body>
</html>